body{
  margin:0;
}
header {
  background-color: #355c70;
  height: 120px;
  border-style: solid;
  border-top: 3px;
  border-color: #a184ff;
  position: sticky;
  top: 0;
}
.contents > a > p{
  margin:0px;
  text-align: center;
}
.contents {
  background-color: lightgrey;
  height: 3000px;
  margin: 0px;
}