body{
  margin:0;
}
header {
  background-image: url('head-background.jpg');
  background-size:cover;
  height: 120px;
  border-style: solid;
  border-top: 2px;
  border-color: #444;
  position: sticky;
  top: 0;
  
}
.contents > a > p{
  margin:0px;
  text-align: center;
}
.contents {
  background-image: url('background.jpg');
  background-repeat: repeat-y;
  background-size:cover;
  height: 3000px;
  margin: 0px;
}