body{
  margin:0;
}
header {
  background-image: url('../image/head-background.jpg');
  background-size:cover;
  height: 80px;
  border-style: solid;
  border-top: 2px;
  border-color: #444;
  /* position: sticky; */
  top: 0;
  
}
#contents {
  background-image: url('../image/background.jpg');
  background-repeat: repeat-y;
  background-size:cover;
  height: 3000px;
  margin: 0px;
}
#contents > a > p{
  margin:0px;
  text-align: center;
}